<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063438940919-tbeqobstjt00l2maulhp7bc0kg8lge7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063438940919-tbeqobstjt00l2maulhp7bc0kg8lge7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCaxcRR1EH4XF-VELkqUQoHUlkhiUS_4aI</string>
	<key>GCM_SENDER_ID</key>
	<string>1063438940919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-56bf9</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-56bf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063438940919:ios:2136d5b85ed275926d71f2</string>
</dict>
</plist>